
hikari-lightbulb==2.3.5
hikari==2.0.0.dev122
hikari-miru==3.3.0
asyncache==0.1.1
cachetools==4.2.2
asyncpraw==7.7.1
mplcyberpunk==0.5.1
selenium==4.14.0
aiohttp
asyncpg
APScheduler
colorama
python-dotenv
typer
lavalink-rs==0.13.0
pyparsing
mock
jikanpy
fuzzywuzzy
pyyaml
akinator[async]
python-Levenshtein
types-PyYAML
pandas
seaborn
dataenforce
pytimeparse
types-pytz
colormap
easydev
youtube-search-python
humanize
qrcode
tmdb-python
dacite
tabulate
expiring-dict
selenium_async
colorcet
setuptools
emoji==2.12.1