
hikari-lightbulb==2.3.3
hikari==2.0.0.dev120
hikari-miru==3.0.2
asyncache==0.1.1
cachetools==4.2.2
asyncpraw==7.7.1
mplcyberpunk==0.5.1
aiohttp
asyncpg
APScheduler
colorama
python-dotenv
typer
lavasnek-rs
pyparsing
mock
jikanpy
fuzzywuzzy
pyyaml
akinator[async]
python-Levenshtein
types-PyYAML
pandas
seaborn
dataenforce
pytimeparse
types-pytz
colormap
easydev
youtube-search-python
humanize
qrcode
tmdb-python
dacite
tabulate
expiring-dict
selenium
selenium_async
colorcet
uvloop