
hikari-lightbulb==2.3.1
hikari==2.0.0.dev117 
hikari-miru==3.0.2
aiohttp
asyncpg
asyncache==0.1.1
cachetools==4.2.2
APScheduler
asyncpraw==7.7.0 
colorama
python-dotenv
typer
pyparsing
mock
jikanpy
fuzzywuzzy
pyyaml
akinator[async]
python-Levenshtein
types-PyYAML
pandas
seaborn
dataenforce
mplcyberpunk==0.5.1
pytimeparse
types-pytz
colormap
easydev
youtube-search-python
humanize
qrcode
tmdb-python
dacite
tabulate
expiring-dict